package components

templ Hello(name string) {
	<div class="flex h-screen w-full justify-center items-center text-pink-700">
		Hello, { name } <br />
		<button hx-post="/clicked" hx-swap="outerHTML">
      Click Me!!!
    </button>
	</div>
}

templ Clicked() {
	<div class="flex h-screen w-full justify-center items-center text-pink-700">
		I'm from the server
	</div>
}