package components

templ TodosPage(){
  @Page("Todos") {
    <div
      class="flex h-screen w-full justify-center items-center"
      hx-get="/todos"
      hx-trigger="load"
      hx-swap="innerHTML"
      id="container-body"
    />
  }
}
